{% extends "base.html" %}

{% block title %}
    Ejercicio 6 - Expresiones regulares
{% endblock %}

{% block content %}
<div class="row ">
    <div class="col-md-5 mx-auto">
        <h1>Ejercicio 6 - Expresiones regulares
        </h1>
        {% if error %}
            {{ error }}
        {% else %}
            {% if mostrar %}
                {% if sol %}
                    <p style="color: darkblue;">La entrada es un/a {{ metodo }}. </p>
                {% else %}
                    <p style="color: darkblue;">La entrada no es un/a {{ metodo }}. </p>
                {% endif %}
            {% endif %}
        {% endif %}
        <form action="{{ url_for( 'expresion_regular') }}" method="POST">
            
            <dl>
                <div class="form-group ">
                    <label for="entrada">Introduce una expresión regular:</label>
                    <input type="text" class="form-control " id="entrada" name="entrada" placeholder="Expresión regular" required>
                </div>
            </dl>
            <dl>
            <div class="form-group">
                <label for="metodo">Seleccione el método de comprobación: </label>
                <input type="text" class="form-control" id="metodo" name="metodo" placeholder="Palabra, email o tarjeta" required>
            </div>
            </dl>

            <dl>
                <div class=" text-align ">
                    <button type="submit" class="btn btn-outline-dark" id="enviar" name="enviar">Enviar</button>
                </div>
            </dl>
            
        </form>
    </div>
</div>
{% endblock %}