{% extends "base.html" %}
{%block title %} 
Login 
{% endblock %} 
{% block content %}

{% if not session['username'] %}
  <div class="row ">
    <div class="col-md-5 mx-auto">
        <h1 style="margin-top: 3cm;">Iniciar Sesión</h1>
        {% if error %}
          <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="{{ url_for('login') }}" method="POST">
          
          <div class="form-group" style="margin-top: 0.5cm;">
            <label for="username"><b>Nombre de usuario</b></label>
            <input type="text" class="form-control" id="username" placeholder="Introduzca nombre de usuario" name="username">
          </div>

          <div class="form-group" style="margin-top: 0.5cm;">
              <label for="pwd"><b>Contraseña:</b></label>
            <input type="password" class="form-control" id="password" placeholder="Introduzca contraseña" name="password">
          </div>
          
          <button type="submit" class="btn btn-outline-dark" id="login" name="login" style="margin-top: 0.5cm;">Iniciar Sesión</button>  
        
          <div class="form-group" style="margin-top: 0.5cm;">
            <p class="text-center">¿No estás registrado? <a href="/signup" id="signup"> Regístrate</a></p>
          </div>
          
        </form>
    </div>
  </div>

{% else %}

  <div class="container ">
    <p>Ya ha iniciado sesión, si lo desea puede cerrar sesión:</p>
    <a href="{{ url_for('logout') }}" class="btn btn-outline-dark my-2 my-sm-0 ms-2 me-2" role="button" aria-pressed="true">Cerrar Sesión</a>
  </div>

{% endif %}


{% endblock %}