{%extends "base.html" %} 
{%block title %} 
Galerias 
{% endblock %} 

{%block content %}
<form action="{% url 'eliminar_galeria' galeria.nombre %}" method="POST" class="my-5">
    
    {% csrf_token %}
    <div class="container-fluid text-center">
        <p> ¿Desea eliminar definitivamente la galeria: "{{ galeria.nombre }}"? </p>
        
        <div class="row mb-2 justify-content-center">
            <div class="col-md-auto my-2">
                <button type="submit" class="btn btn-danger text-center" name="eliminar">Eliminar</button>
            </div>

            <div class="col-md-auto my-2">
                <a class="btn btn-outline-dark text-center " href="{% url 'lista_galerias' %} ">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}